/* Fonts */
/* font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html{
  font-size: 16px;
}

body{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

:root{
  --title-text-color: #F2F2F2;
  --title-text-size: 2.25rem;
  --title-text-weight: 700;

  --question-text-color: #2F527B;
  --question-text-size: 1.5rem;
  --question-text-weight: 700;

  --option-hover-color: #F9A826;
  --option-wrong-color: #EA8282;
  --option-wrong-color-dark: #da7979;
  --option-correct-color: #60BF88;
  --option-correct-color-dark: #59b881;
  --option-border-color: #6066d0b3;
  --option-text-color: #6066D0;

  --results-text-color: #1D355D;
  --result-score-pass-color: #6fcf97;
  --result-score-fail-color: #ce755e;
}

.correct-option, .wrong-option{
  color: white !important;
  border: none !important;
}
.correct-option{
  background-color: var(--option-correct-color);
}
.correct-option:hover{
  background-color: var(--option-correct-color-dark) !important;
}
.wrong-option{
  background-color: var(--option-wrong-color);
}
.wrong-option:hover{
  background-color: var(--option-wrong-color-dark) !important;
}
.green{
  color: var(--result-score-pass-color);
}
.red{
  color: var(--result-score-fail-color);
}


.home{
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-content{
  width: 29rem;
  position: relative;
  min-height: 25rem;
  border-radius: 24px;
  background-color: white;
  padding: 30px;
}

.quiz-title{
  font-size: var(--title-text-size);
  color: var(--title-text-color);
}

.quiz-image{
  position: absolute;
  right: 0;
  top: -3.4375rem;
  height: 6.25rem;
}

.mcq-block{
  /* border: 1px solid rgb(0, 0, 0); */
  margin-top: 10px;
}

.flag{
  max-height: 54px;
  max-width: 80px;
  border: 1px solid rgb(48, 47, 47);
  border-radius: 4px;
  margin: 5px 5px -20px 5px;
  align-content: center;
}

.question{
  font-size: var(--question-text-size);
  color: var(--question-text-color);
  margin-top: 30px;
}

.options{
  /* border: 1px solid black; */
  /* margin-top: 10px; */
  height: 18.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.option{
  border: 1px solid var(--option-border-color);
  border-radius: 10px;
  min-height: 3rem;
  color: var(--option-text-color);
  font-weight: 500;
  padding: 0 0 0 20px;
  display: grid;
  align-items: center;
  grid-template-columns: 10% auto 10%;
}

/* .option span, .option div{
  border: 1px solid black;
} */

.option:hover{
  background-color: var(--option-hover-color);
  cursor: pointer;
  border: none;
}
.option:hover h3, .option:hover span{
  color: white;
}

.icon{
  position: relative;
  top: 3px;
}

.next-button-div{
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 100%;
}

.mcq-block button{
  background-color: var(--option-hover-color);
  color: white;
  font-size: var(--question-text-size)-10;
  font-weight: 700;
  border: none;
  padding: 10px 25px;
  border-radius: 10px;
}
.mcq-block button:hover{
  cursor: pointer;
  background-color: #ca8a24;
}

.result{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--results-text-color);
}

.result-image{
  max-width: 15rem;
  margin: 20px 0 50px 0;
}

.result-text{
  font-size: 3rem;
  font-weight: 700;
}

.result-score{
  font-size: 1.125rem;
  font-weight: normal;
}

.score{
  font-weight: 700;
  font-size: 2.4rem;
}
.score::before, .score::after{
  content: " ";
}

.try-again-btn{
  margin-top: 70px;
  background-color: white;
  border: 2px solid var(--results-text-color);
  border-radius: 12px;
  width: 55%;
  height: 3.75rem;
  font-weight: 600;
  font-size: 1.125rem;
  color: var(--results-text-color);
}

.try-again-btn:hover{
  cursor: pointer;
  background-color: var(--results-text-color);
  color: white;
}

.btn{
  transition: ease;
  transition-duration: 0.1s;
}

.about-me{
  font-family: arial;
  font-size: 0.875rem;
  color: white;
  position: absolute;
  bottom: 5px;

}
.about-me a{
  color :white;
}

.loader{
  height: 60px;
  width: 60px;
  border: 1px solid white;
  padding: 1px;
  border-radius: 50%;
  position: relative;
}

.loading-ball{
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: white;
}

@media only screen and (max-width: 600px) {
  html{
    font-size: 14px;
  }
}

@media only screen and (max-width: 450px) {
  html{
    font-size: 13px;
  }
}

@media only screen and (max-width: 400px) {
  html{
    font-size: 11px;
  }
}

@media only screen and (max-width: 350px) {
  html{
    font-size: 9px;
  }
}